<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>提交留言</title>
    <link rel="stylesheet" href="./public/css/main.css">
</head>
  <body>
    <h1><a href="/">返回首页</a></h1>
    <form action="/post" method="post">
      <label for="text">您的大名：</label>
<input type="text" placeholder="" name="name"><br><br>
<label for="textarea">您的意见:</label>
<textarea id="textarea" rows="8" cols="80" name="message"></textarea><br><br><input type="submit">
    </form>
  </body>
</html>
